@font-face {
    font-family: 'Chloe';
    src: url('Chloe-Regular.woff2') format('woff2'),
        url('Chloe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
  background-color: #e54865;
  color: #E5B680;
}

body {
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
  height:  100%vh;
  weidth:  100vw;
}

.hello {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Chloe";
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 2px;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: left;
}

.clock {
  font-family: Chloe;
  letter-spacing: 4px;
  font-size: 44px;
}

span.emily {
  color: #f2f2f2;
  font-family: "Chloe";
  font-size: 88px;
  font-weight: 800;
  letter-spacing: 8px;
}


a {
  text-decoration: none;
  color: #f2f2f2;
  display: block;
  margin: .4em 0em;
}

a:hover {
  color: #E5B680;
}

a:hover:after {
  content: " ♡ ♡ ♡ ♡";
  font-size: 22px;
}
