@font-face {
    font-family: 'Dream Sparks Shiny';
    src: url('DreamSparks-Shiny.woff2') format('woff2'),
        url('DreamSparks-Shiny.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

    body, html {
      height: 100%;
      margin: 0;
      font-family: 'Dream Sparks Shiny';
      font-weight: 600;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
/* Video background container */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Sends the video behind the content */
  overflow: hidden;
}

/* Style the video itself */
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the whole screen */
  object-position: top; /* Displays the top of the video */
}

/* Main container and content styles */
.container {
  position: relative;
  z-index: 1; /* Ensures the content appears above the video */
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: white; /* To ensure content is visible over the video */
}

    
    .links-section {
      text-align: center;
    }
    
    ul.line {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 10px 0;
    }
    
    li {
      margin: 0 10px;
    }

    .aurora {
      font-size: 8vw;
      text-shadow: 8px 8px #ee7a63 !important;
        -webkit-text-stroke-width: 4px;
        -moz-text-stroke-width: 4px;
        -webkit-text-stroke-color: #e71884;
        -moz-text-stroke-color: #e71884;
      color: transparent;
    }

    .aurora:hover {
    text-shadow: 8px 8px #f27d87 !important; /* Change the text shadow to a slightly different pink */
    -webkit-text-stroke-width: 4px;
    -moz-text-stroke-width: 4px;
    -webkit-text-stroke-color: #b51262; /* Darken the stroke color for contrast */
    -moz-text-stroke-color: #b51262;
    color: #f291a1; /* Add a subtle pink color to the text */
    text-decoration: none;
  }

    .linker {
      font-size: 2.8vw;
      line-height: 1em;
      margin: 0 8px;
    }

    .linker-insta, .linker-sobolini, .linker-web {
      font-size: 2.8vw;
      line-height: 1.2em;
      margin: 0 8px;
    }

    .links-section {
      margin: 0 8px;
    }

    .clock {
        font-size: 2.8vw;
        margin-top: 1vw;
        margin-bottom: 2.4vw;
        color: #ee7a63; /* Link color */
        text-decoration: none; /* Remove underline */
        text-shadow: 
            2px 2px 0 #e71884,  /* Right shadow */
            -2px -2px 0 #e71884, /* Left shadow */
            -2px 2px 0 #e71884,  /* Bottom shadow */
            2px -2px 0 #e71884;  /* Top shadow */
    }

    a {
      color: #ee7a63; /* Text color */
      text-decoration: none; /* Remove underline */
      text-shadow: 
        -2px -2px 0 #e71884, /* Top-left shadow (outline color) */
         2px -2px 0 #e71884, /* Top-right shadow */
        -2px  2px 0 #e71884, /* Bottom-left shadow */
         2px  2px 0 #e71884; /* Bottom-right shadow */
    }
    
    a:hover {
      color: #f291a1; /* Text color on hover */
      text-shadow: 
        -2px -2px 0 #b51262, /* Top-left shadow (outline on hover) */
         2px -2px 0 #b51262, /* Top-right shadow */
        -2px  2px 0 #b51262, /* Bottom-left shadow */
         2px  2px 0 #b51262; /* Bottom-right shadow */
    }